.login-form {
    
    width: 30%;
    min-width: 300px;
    height: 60%;
    min-height: 300px;
    padding: 0.2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f2;

    p
    {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 0.24rem;
        font-weight: bold;
        
    }
    

    input{
        height: 10%;
        width: 90%;
        margin-top: 5%;
        border: 2px solid #5b5b5b;
        padding-left: 2%;
        font-size: 0.16rem;
        
    }

    button{
        height: 10%;
        width: 70%;
        margin-top: 5%;
        border: none;
        background-color: #fafa38;
        font-weight: 700;
        font-size: 0.16rem;
    }

    .signup-action-container{
        margin-top: 4%;

        p{
            
            font-size: 0.16rem;
            font-weight: 400;
        }
    
        .signup-action-button {
            display: inline-block;
            background: none;
            border: none;
            padding: 0;
            font-weight: 700;
            outline: none;
            color: #037FC5; 
           cursor: default;
          }
    }
}


