.login-form {
    width: 30%;
    height: 50%;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    p{
        margin: 0.02rem;
        font-size: 0.24rem;
        font-weight: 400;
        
    }
    

    input{
        height: 10%;
        width: 70%;
        margin-top: 5%;
        padding-left: 2%;
        font-size: 0.16rem;
        
    }

    button{
        height: 10%;
        width: 70%;
        margin-top: 5%;
        border: none;
        background-color: #fafa38;
        font-weight: 700;
        font-size: 0.16rem;
    }
}