.nav {
  width: 100%;
  height: 10%;

  position: fixed;
  top: 0;
  background: #037FC5;
  


}

.nav-elements-container{
 
  height: 100%;
  margin: 0 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.title-label {
  
  margin-right: 5%;
  font-size: 0.34rem;
  font-weight: 700;
  color: #FAFA38;
}

.username-label {
 
  font-size: 0.24rem;
  color: rgb(255, 255, 255);
}

.user-profile {
  width: 30px;
  height: 30px;
}