.product-card {
  width: 100%;
  height: 300px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color:white;
  transition: background-color 0.3s ease; 
  
  
}

.expanded{
    position: absolute;
    width: 80%;
    height: 600px;
}

.name {
   
  height: 20%;
  font-size: 20%;
 
 

}

.price-location-container{
  display: flex;
  justify-content: space-between;
}

.price {
  height: 10%;
  font-size: 20%;
  color: #037FC5;
  font-weight: 700;

}

.location{
  height: 10%;
  font-size: 20%;
  font-weight: normal;
}


.product-card:hover{
  
 border: solid 2px #fafa38;
}

