.product-list {
    width: 100%;
    height: 100%;
    
    background-color: #E8ECED;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}